h1{
     font-weight: 700 ;
     font-size: 45;
     margin: 10px;
     margin-bottom: 20px;
}
input{
    width: 100%;
}
.item-container{
    text-align: left;
}
.row{
    margin: 10px 505px;
}
.kg-button{
    min-width: 80px;

}